version: '3.8'

services:
  # 1. SERVICIO DE API (Backend Seguro v2.0)
  api-service:
    image: crucegab/ej2-api-segura:v2.0 # ¡ACTUALIZADO A V2.0!
    restart: always 
    expose:
      - "5000"
    # APLICANDO HARDENING DE RUNTIME (EJ. 5)
    cap_drop:
      - ALL # Elimina TODAS las capacidades por defecto...
    cap_add:
      - NET_BIND_SERVICE # ...y solo añade la que permite usar puertos < 1024 (si fuera necesario, aunque 5000 no lo es, es buena práctica)
    deploy:
      replicas: 3 # Mantenemos el escalamiento

  # 2. SERVICIO NGINX (Load Balancer / Frontend)
  nginx-lb:
    image: nginx:latest
    container_name: nginx_balancer
    ports:
      - "8080:80" 
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro 
    depends_on:
      - api-service